<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Infomation</h4>
    <p>This is the blogs page where i post things about my life story and things I have done in Computer Science.</p>
  </div>

  <div class="sidebar-module">
    <h3>Sources</h4>
    <ol class="list-unstyled social-links">
      <h6>GitHub Repo</h4>
      <li><a href="https://github.com/tbonett33/devcamp-portfolio"><%= fa_icon "github" %></a></li>
      <h6>Steam Profile</h4>
      <li><a href="http://steamcommunity.com/profiles/76561198087513967/"><%= fa_icon "steam" %></a></li>
    </ol>
  </div>
</div>