<h1>About Me</h1>

<hr>
<p>Hello My name is Tyson Toller, I am 17 years old and I love Technology. I am not an english person 
  so dont judge my grammar. Languages that i have used include "Java, JavaScript, Ruby, Ruby on Rails,
  C++, Html, and CSS. I live in Utah and I'm looking for Computer Science Internships.
  I want to get into game development and I'm instrested in speaking to people in the tech industry.</p>
</hr>
